.form-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #CADC96;
    color: #fff
}

.form-block h2 {
    text-align: center;
}

.form-block .socials {
    display: flex;
    justify-content: center;
    gap: 1rem
}

.form-block .line {
    position: relative;
    width: 100%;
    padding: 1rem;
}

.form-block .line hr {
    border-width: 3px;
    opacity: 1;
}

.form-block p {
    position: absolute;
    top: 50%;
    left: 50%;

    background: #fff;
    border-radius: 0.75rem;

    width: fit-content;
    padding: 0.5rem;

    color: black;

    transform: translateX(-50%) translateY(-50%);
}

.form-block form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: min(500px, 90vw);

}

.form-block input, .form-block button {
    border: 2px solid #fff;
    border-radius: 0.75rem;

    padding: 1rem;

    transition: .3s;
}

.form-block input {
    width: min(500px, 100%);
    background: transparent;
}
.form-block input:focus {
    outline: none;
}

.form-block button {
    background: #fff;

    margin-top: 2rem;
}

.form-block button:hover {
    background-color: #eee;
    border-color: #eee;
}


