.portfolio-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    /*background: #8574ce;*/
}

.portfolio-block [data-bs-slide-to] {
    /*background: #fff!important;*/
}

.portfolio-block .carousel-indicators {
    transform: translateY(50px);
}

.portfolio-content{
    /*width: min(90vw, 800px);*/
    /*background: #FF7A7A;*/
    padding: 1rem;
    border-radius: 0.75rem;
}

.project-card--wrapper {
    display: flex;
    justify-content: center;
    color: #fff;
   width: 100%;

}


.project-card {
    --padding: 0rem;

    position: relative;
    width: min(100%, 600px);

    padding: var(--padding);

    border: 3px solid #FF7A7A;
    background: #FF7A7A;

    overflow: hidden;

    z-index: 1;

}

.project-card img{
    position: relative;
    width: 100%;
}

.project-card, .project-card img  {
    border-radius: 0.75rem;
}


.project-card:after, .project-card:before{
    content: " ";
    display: block;

    position: absolute;
    top: var(--padding);
    bottom: var(--padding);
    left: var(--padding);
    right: var(--padding);

    z-index: 2;
}

.project-card:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .0) 65%, rgba(0, 0, 0, .8));
}

.project-card:before {
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .0) 30%, rgba(0, 0, 0, .9));
}


.project-card .text {
    position: absolute;
    bottom: var(--padding);
    right: var(--padding);
    left: var(--padding);

    padding: 1rem;
    z-index: 3;
}

.project-card .project-card--description {
    max-height: 0;
    overflow-y: hidden;
}


.project-card, .project-card--description, .project-card--head {
    transition: .3s;
}

.project-card:after, .project-card:before {
    transition: .2s;
}


.project-card:hover {
    cursor: pointer;
}

.project-card:hover:after {
    opacity: 0;
}
.project-card:hover:before {
    opacity: 1;
}

.project-card:hover .project-card--description{
    max-height: 250px;
}
