.skill-block {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.skill-block  h2 {
    text-align: center;
}

.skill-block .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: fit-content;
    margin: auto;
}

.skill-block .hard-skill {
    background: black;
    color: #fff
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    width: 9.5rem;
    padding: 0.5rem;

    backdrop-filter: blur(5px);
    background: none;

    border-radius: 0.75rem;
    border: 2px solid #a9a9a9;

    overflow: hidden;
}

.skill-card h4 {
    margin: 0
}

.skill-card img {
    --size: 64px;
}


@media (max-width: 768px) {
    .skill-block {
        grid-template-columns: 1fr
    }
}
