* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    gap: 60px;

}

h1 {
    font-family: Molot, sans-serif;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.75rem;
}


.sizeable {
    --size: 0px;

    height: var(--size);
    width: var(--size);
}

.block {
    padding: 1rem;
}

.fullscreen {
    width: 100vw;
    min-height: fit-content;
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}