.welcome-block {
    --alpha: 0.3;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(0deg, rgba(0, 0, 0, var(--alpha)), rgba(0, 0, 0, var(--alpha))), url("../images/welcome-bg.jpg") center;
    background-size: cover;

    color: #fff;

    height: 100vh;
}

.welcome-block .outline-btn {
    margin-top: 3rem;
}

.welcome-block h1 {
    font-size: 5vw;
    letter-spacing: 0.5rem;
    max-width: 100vw;

    white-space: pre-wrap;
    text-align: center;
}


.welcome-block img {
    --size: 35px;
    position: absolute;
    bottom: 10px;
    /*left: 50%;*/

    animation: bounce 1s infinite;

    transform: translateX(-50%);
}
